:root {
	--light-cyan: hsl(193, 38%, 86%);
	--neon-green: hsl(150, 100%, 66%);
	--grayish-blue: hsl(217, 19%, 38%);
	--dark-grayish-blue: hsl(217, 19%, 24%);
	--dark-blue: hsl(218, 23%, 16%);

	--font-manrope: "Manrope", sans-serif;

	--font-size-200: 1.5rem;
	--font-size-100: 0.8125rem;
}

body {
	font-family: var(--font-manrope);
	background-color: var(--dark-grayish-blue);
	color: lightcyan;
	min-height: 100vh;
	line-height: 1.5;
	position: relative;
	display: grid;
	font-weight: 800;
	overflow-x: hidden;
	font-size: var(--font-size-200);
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container {
	padding: 1rem;
	background-color: hsl(217, 19%, 38%);
	border-radius: 1.5rem;
	position: relative;
}

.container h1 {
	color: var(--neon-green);
	font-size: 0.9rem;
	text-transform: uppercase;
	margin: auto;
	letter-spacing: 0.4rem;
	position: relative;
	text-align: center;
}

.container p {
	font-size: 28px;
	color: var(--light-cyan);
	line-height: 1.5;
	padding-bottom: 2rem;
	position: relative;
}

.container button {
	background-color: var(--neon-green);
	border-color: transparent;
	border-radius: 2.5rem;
	padding: 1rem;
	margin: auto;
	position: absolute;

	left: 50%;
	transform: translateX(-50%);
	bottom: 0.25rem;
	cursor: pointer;
}

button:active {
	background-color: #da14ff;
}

.on {
	box-shadow: var(--neon-green) 0 0 2rem;
}

.container picture img {
	position: relative;
}

.container picture source {
	position: relative;
}
.container picture::before {
	content: "";
	width: 40%;
	height: 1px;
	background-color: var(--light-cyan);
	right: 1.25rem;
	bottom: 5rem;
	position: absolute;

	z-index: 99;
}

.container picture::after {
	content: "";
	width: 40%;
	height: 1px;
	background-color: var(--light-cyan);
	left: 1.25rem;
	bottom: 5rem;
	position: absolute;
}

@media (min-width: 500px) {
	.container {
		width: 650px;
		height: 400px;
	}
}

@media (max-width: 499px) {
	.container {
		width: 350px;
	}
}
